//  Google Fonts
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');


// Font Variables
 $roboto: 'Roboto', sans-serif;
 $shrikhand: 'Shrikhand', cursive;


//  Color Variables
 $white: #FFF;
 $green: #008766;
 $light-green: #99E2D0;
 $light-blue: #89C8FA;
 $blue: #003A68;
 $purple: #9356DC;
 $pink: #FF79DA;
 $lighter-grey: #F6F6F6;
 $light-grey: #EAEAEA;
 $grey-tint-4: #7E7E7E;
 $grey-tint-5: #F6F6F6;
 $grey: #353535;
 $black: #101010;

 * {
    font-family: $roboto;
    color: $black;
 }

 body {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }

    header {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .logo {
            justify-self: center;
            align-self: center;
            width: 100%;
            background-color: $white;
            z-index: 4;

            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

            a {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: .88rem 5.56rem;

            }
        }

        .location {
            justify-self: center;
            align-self: center;
            width: 100%;
            background-color: $light-grey;

            a {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                gap:1.06rem;
                height: 3.125rem;
                font-family: $roboto;
                font-weight: 500;
                color: $grey;
            }

        }
    }

    main {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .title {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 700;
            color: $black;
        }

        .welcome {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            background-color: $lighter-grey;

            .title {
                margin-left: auto;
                margin-right: auto;
                margin-top: 2.4rem;
                width: 17.2rem;
                text-align: center;

            }
            
            .text {
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                width: 19.7rem;
                flex-shrink: 0;
                font-family: $roboto;
                font-size: 1.125rem;
                font-weight: 300;
                text-align: center;
            }

            .cta {
                display:flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                color: $white;
                font-weight: 500;

                margin: 1.6rem auto 4rem auto; ;
                width: 13.625rem;
                height: 3.125rem;
                flex-shrink: 0;
                border-radius: 1.5625rem;
                background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
                
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            }
            .cta:hover{
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
            }

        }

        .functionning {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            padding: 3rem 1.5rem 3.25rem 1.5rem;

            .functionning-options {
                display: flex;
                flex-flow: column nowrap;
                width: 100%;
                gap: 1.5rem;
                justify-content: center;
                align-items: flex-start;
                margin-top: 1.62rem;
                padding-left: 0.8rem;

                .card {
                    display: flex ;
                    flex-flow: row nowrap;
                    justify-items: center;
                    align-items: center;
                    gap: 1rem;
                    width: 90%;
                    padding: 1.79rem 2.38rem 1.79rem 0rem;
                    background-color: white;
                    
                    border-radius: 1.25rem;
                    background: var(--Background, #F6F6F6);
                  
                    /* Shadow/Instructions */
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                    
                  /*   position: relative; */
                  }
                  
                  .card-body {
                    width: 100%;
                    display: flex ;
                    flex-flow: row nowrap;
                    justify-items: center;
                    align-items: center;
                    gap: 1.69rem;
                  }
                  
                  .fa-mobile-screen-button {
                    width: 0.81369rem;
                    height: 1.24394rem;
                    flex-shrink: 0;
                  }
                  
                  .card-content {
                    font-family: 'Roboto' sans-serif;
                    font-weight: 500;  
                  }
                  
                  .bubble {
                    width: fit-content;
                    position: relative;
                    left: -0.75rem ;
                  }
                  .card-bubble-number {
                    display: flex ;
                    justify-content: center;
                    align-items: center;
                    
                    width: 1.5rem;
                    height: 1.5rem;
                    flex-shrink: 0;
                    font-size: 0.9rem;
                    color: white;
                    border-radius: 100%;
                    background-color: #9356DC;
                  }
                  
                  .fa-store {
                    color: $purple;
                  }

                  .fa-mobile-screen-button, .fa-list-ul {
                    color: $grey-tint-4;
                  }

            }
        }

        .restaurants {
            width: 100%;
            background-color: $grey-tint-5;
            padding: 3rem 1rem 4.12rem 1rem;

            .restaurants-options{
                display: flex;
                margin: auto;
                flex-flow: column nowrap;
                
                .flex-item:nth-child(1) {
                    .restaurant-card {
                        .card-header {
                        background: no-repeat center url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                        background-size: cover;
                        }
                    }
                }
                .flex-item:nth-child(2) {
                    .restaurant-card {
                        .card-header {
                        background: no-repeat center url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
                        background-size: cover;
                        }
                    }
                }
                .flex-item:nth-child(3) {
                    .restaurant-card {
                        .card-header {
                        background: no-repeat center url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
                        background-size: cover;
                        }
                    }
                }
                .flex-item:nth-child(4) {
                    .restaurant-card {
                        .card-header {
                        background: no-repeat center url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
                        background-size: cover;
                        }
                    }
                }
            }

            .restaurant-card {
                width: 100%;
                background-color: $white;
                border-radius: .94rem;
                display: flex;
                flex-flow:  column nowrap;
                margin-top: 1.12rem;
                overflow: hidden;

                .card-header {

                    height: 14.45rem;
                    position: relative;

                    .badge {

                        color: $green;
                        text-align: center;
                        font-family: Roboto;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        padding: .125em;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 1.4rem;
                        right: 2rem;
                        width: 5rem;
                        height: 1.8125rem;
                        border-radius: 0.125rem;
                        background: $light-green;
                        /* Shadow/Badge */
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                    }
                }
                .card-body{
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    .card-content {
                        width: 80%;

                        h2 {
                            color: $black;
                            font-family: Roboto;
                            font-size: 1.125rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            margin-bottom: .31rem;
                        }
                        p {
                            color: $black;
                            font-family: Roboto;
                            font-size: 1.0625rem;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            margin-top: 0rem;
                        }
                    }

                    .heart-icon {
                        width: 10%;
                        cursor: pointer;
                        transition: fill 0.3s;
                        
                        svg {
                            width: 1.375rem;
                            height: 1.3125rem;
                        }
                    }

                    .heart-outline {
                        fill: none;
                        stroke: $black;
                        stroke-width: 1;
                        width: 1.375rem;
                        height: 1.3125rem;
                        transition: stroke 0.3s;
                    }

                    .heart-icon:hover .heart-outline,
                    .heart-icon:active .heart-outline {
                        stroke-width: 0 !important; /* Remove outline on hover and click */
                    }
                    
                    .heart-icon:hover .heart-fill {
                        fill: url(#gradient); /* Apply gradient fill on hover */
                    }

                    
                    .heart-icon {
                        cursor: pointer;
                        transition: all 0.3s;
                        position: relative;
                    }
                    
                    /* Style for checked (unchecked) heart icon */
                    .heart-checkbox {
                        display: none; /* Hide the checkbox input */
                    }
                    
                    /* Define the styles for the checked (filled) heart icon */
                    .heart-checkbox:checked + .heart-icon .heart-fill {
                        fill: url(#gradient); /* Apply gradient fill when checked */
                        stroke-width: 0 !important; /* Remove outline when checked */
                    }
                    
                    /* Define the styles for the unchecked (outlined) heart icon */
                    .heart-icon .heart-fill {
                        fill: none; /* Initial empty style (unchecked) */
                        stroke: $black; /* Outline color (unchecked) */
                    }
                    
                    /* Handle z-index to make sure the heart icon is clickable */
                    .heart-checkbox:checked + .heart-icon::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1; /* Ensure the heart icon remains clickable */
                    }
                    
                }
            }
        }
    }

    footer {
        padding: 1.38rem 1.58rem;
        margin: 0rem;
        width: 100%;

        display: flex;
        flex-flow: column;
        align-items: flex-start;
        background-color: $grey;

        .footer-logo {
            width: 100%;
            color: $white;
            font-family: $shrikhand;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .footer-links {
            list-style-type: none;
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            padding: 0rem;
            gap: 1rem;

            .flex-item {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
            }


            li a {

                color: $white;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                gap: 1rem;
                

                i {
                    color: $white;
                    width: 3%;
                }

            }
        }



    }
}